---
import DashboardLayout from '@/layouts/DashboardLayout.astro';
import { NotificationsCenter } from '@/components/NotificationsCenter';
---

<DashboardLayout title="Notifications - SRP">
  <div class="py-4">
    <NotificationsCenter client:load />
  </div>
</DashboardLayout>
